@import './variables.scss';
@mixin btn(){
    border-radius: 4px;
    padding: 0.2rem 0.6rem;
}

.btn-primary{
    @include btn();
}

.btn-outline-primary{
    @include btn();
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: $gray-700;
    border-radius: 10px;
    &:hover{
        background-color: $gray-600;
    }
}