@import '~tailwindcss/utilities';

.sidebar{
    height: calc(100vh - 4rem);
    margin-right: 2rem;
    ul{
        font-weight: 500;
        padding: 2rem 0;
        li{
            margin-bottom: 1rem;
            cursor: pointer;
            width: 100%;
            text-align: center;
        }
        li.link{
            a{
                display: block;
                width: 100%;
                opacity: 0.6;
                border-right: 5px solid transparent;
                padding: 0.5rem 0;
                cursor: pointer;
                transition: all 0.3s;
                &.active{
                    background: rgba($color: $white, $alpha: 0.1);
                    box-shadow: 0 3px 5px rgba($color: $black, $alpha: 0.4);
                }
                &:hover, &.active{
                    opacity: 1;
                    // border-right: 5px solid white;
                }
            }
        }

        .theme{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
        }

    }
}

@media (orientation: portrait) {
    .sidebar{
        position: fixed;
        width: 100%;
        z-index: 10;
        bottom: 0;
        left: 0;
        height: auto;
        margin-right: 0;

        ul{
            height: 100%;
            width: 100%;
            flex-direction: row;
            padding: 0.4rem;

            li{
                text-align: center;
                margin-bottom: 0;
                a{
                    padding: 0 !important;
                    font-size: 1.4rem;
                    i{
                        padding: 1rem;
                        border-radius: 50%;
                        display: grid;
                        place-content: center;
                        transition: all 0.5s;
                    }
                    &.active{
                        background-color: transparent !important;
                        box-shadow: unset !important;
                        i{
                            background-color: $zinc-800;
                            transform: translateY(-5px);
                        }
                    }

                    span{
                        letter-spacing: 3px;
                    }
                }
            }
        }
    }
}